/* Styles pour la barre de navigation */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Styles pour la disposition du produit */
.product {
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid gray;
    padding: 20px;
    overflow: hidden;
    background-color: skyblue;
    display: flex;
    flex-direction: column; /* Affichage en colonne */
}

.product:hover {
    border-color: black;
}

.product-title {
    text-align: center;
}

.product-info {
    display: flex;
    align-items: flex-start; /* Alignement en haut */
}

.product-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.product-image-all {
    width: 600px;
    height: 200px;
    margin-right: 20px;
}

.product-description {
    flex: 1;
}

.product-description p {
    margin: 0;
}

.product-bottom {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Alignement vertical */
}

.product-price {
    font-weight: bold;
    margin-top: 10px;
}

.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
}


/* Ajout de styles spécifiques pour la page du panier */
.cart {
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.cart-header,
.cart-footer {
    background-color: #f2f2f2;
}

.cart-header,
.cart-item,
.cart-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart-header > .cart-column,
.cart-item > .cart-column,
.cart-footer > .cart-column {
    flex-basis: 25%;
}

.cart-column {
    flex: 1;
    display: flex; /* Ajout de la propriété display:flex */
    align-items: center; /* Pour centrer verticalement les éléments */
    justify-content: space-between; /* Pour espacer les éléments sur l'axe horizontal */
    text-align: center;
}

.cart-column .quantity {
    width: 50px; /* Réglez la largeur du champ de quantité selon vos besoins */
}

.cart-column button {
    background-color: transparent;
    border: none;
    color: red; /* Couleur de votre choix pour le bouton X */
    font-size: 18px; /* Taille de police de votre choix */
    cursor: pointer;
}

.cart-item {
    border-bottom: 1px solid #f2f2f2;
}

.cart-total {
    font-weight: bold;
}

.validate-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.validate-btn:hover {
    background-color: #45a049;
}